.jobsPage {

    display: flex;
        flex-direction: column;
        align-items: center;

    & .jobList {
        display: flex;
        flex-direction: column;
        align-items: center;
    }    
}
