$text-color-primary: #2a5298;
$set-margin: 20px;

nav {
    position: fixed;
    top: 0;
    left: 0;
    background-image: linear-gradient(120deg, #FFFFFF 0%, #FFEFBA 100%);
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    & .nav-brand {
        width: 50px;
        height: 50px;
        margin: $set-margin 0 0 $set-margin;

        & img {
            width: 100%;
            height: 100%;
        }
    }

    & .navigation {
        display: flex;
        flex-direction: column;
        margin: 0 $set-margin 0 $set-margin;
        
        & .nav-list {
            display: flex;
            overflow-x: scroll;

            & .list-item {
                min-width: fit-content;
                margin-right: $set-margin;

                &  a {
                    text-decoration: none;
                    color: $text-color-primary;
                }
            }
        }

        & .social-link {
            display: flex;

            & .list-item {
                margin-right: $set-margin;

                & a {
                    text-decoration: none;
                    color: $text-color-primary;
                }
            }
        }
    }
}

@media (min-width: 576px) {
    nav {
        height: 25h;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    
        & .nav-brand {
            width: 100px;
            height: 100px;
            margin-right: $set-margin;
    
            & img {
                width: 100%;
                height: 100%;
            }
        }
    
        & .navigation {
            display: flex;
            flex-direction: column;
            margin-right: $set-margin;
            
            & .nav-list {
                display: flex;
                overflow-x: initial;
    
                & .list-item {
                    min-width: initial;
                    margin-right: $set-margin;
    
                    &  a {
                        text-decoration: none;
                        color: $text-color-primary;
                    }
                }
            }
    
            & .social-link {
                display: flex;
    
                & .list-item {
                    margin-right: $set-margin;
    
                    & a {
                        text-decoration: none;
                        color: $text-color-primary;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}